
.txt-wait{
    padding-top: 7em;
    font-size: 10px;
    text-align: center;
}
.cont-btn {
    display: flow-root;
  text-align: -webkit-center;
padding-top: 12em;


}
.icon-statics{
    color:white;
  
}

/* STYLES BUTTON AND NUMBER */
.number {
  width: 50%;
  height: 20vh;
  /* background-color: gray; */
}
h2 {
  font-family: Arial Narrow, sans-serif;
  padding: 5%;
  font-weight: 550;
  font-size: 230px;
}
.color-btn {
 margin-top: 2em; 
  /* margin: 2em 0em 0em 13em; */
  width: 10%;
  height: 13vh;
  background-color: rgba(119, 118, 118, 0.863);
  color: white;
  border: 1px solid gray;
}
.icon-btn {
   
  height: 60px !important;
  width: 52px !important;
  font-size: 60px;
}

