.nav-color{
    background: #293241;
}
.btn-nav{
    margin-right: auto;
}
/* STYLE NAVBAR */

.cont-btn {
    display: flow-root;
  text-align: -webkit-center;
padding-top: 12em;


}
.btn-user{
 margin: 5%;
  color:white;
}
.aligned-with-icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px; /* optional */
}
.icon-statics{
     margin-top: 28%;
    color:white;
  
}

/* STYLES BUTTON AND NUMBER */
.number {
  width: 50%;
  height: 20vh;
  /* background-color: gray; */
}
h2 {
  font-family: Arial Narrow, sans-serif;
  padding: 5%;
  font-weight: 550;
  font-size: 230px;
}
.color-btn {
 margin-top: 2em; 
  /* margin: 2em 0em 0em 13em; */
  width: 10%;
  height: 13vh;
  background-color: rgba(119, 118, 118, 0.863);
  color: white;
  border: 1px solid gray;
}
.icon-btn {

  height: 60px !important;
  width: 52px !important;
  font-size: 60px;
}
.cdk-overlay-pane {
  width : 100%;
}
