<!-- NAVBAR -->
<p>
    <mat-toolbar class='nav-color'>
        <mat-toolbar-row>

            <span class='btn-nav'></span>
            <button mat-icon-button class="example-icon btn-user" aria-label="Example icon-button with share icon"
                (click)="openDialog()">


                <div>
                    <mat-icon class='icon-statics'>supervised_user_circle</mat-icon><span
                        class="aligned-with-icon">usuarios</span>
                </div>


            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</p>

<app-statistics *ngIf="showStatics"></app-statistics>






<div class="cont-btn">

    <!-- NUMBER -->
    <div class='number'>
        <h2>{{ counter }}</h2>
    </div>
    <!-- BUTTON -->

    <button mat-fab class="color-btn" [style.background]="btnColor" [disabled]="btnDisabled"
        aria-label="Example icon button with a home icon" (click)="stopCount()">
        <div *ngIf="estado; else play">
            <mat-icon class='icon-btn'>play_arrow</mat-icon>
        </div>
    </button>


</div>









<ng-template #play>
    <mat-icon class='icon-btn'>pause_icon</mat-icon>
</ng-template>